<h1>
  Heroes List
</h1>
<form #heroForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <label for="heroName">Name</label>
      <input type="text" [(ngModel)]="heroSearchFrom.heroName" class="form-control" id="heroName" name="heroName">
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <label for="skillId">Skill</label>
      <select [(ngModel)]="heroSearchFrom.skillId" class="form-control" id="skillId" name="skillId">
        <option value=''>Please Select</option>
        <option *ngFor="let item of skills" value="{{item.skillId}}">{{item.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>
<table class="table table-striped" *ngIf="heroes.length > 0">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Birthday</th>
    <th scope="col">Skill</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of heroes; index as i">
    <th scope="row"><a class="nav-link" routerLink="/hero-detail/{{ item.heroId }}">{{ item.heroId }}</a></th>
    <th scope="row">{{ item.name }}</th>
    <th scope="row">{{ item.description }}</th>
    <th scope="row">{{ item.birthday }}</th>
    <th scope="row">{{ item.skillName }}</th>
  </tr>
  </tbody>
</table>
