<h1>
  Update Hero
</h1>
<form #heroForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="id">Id</label>
    <input type="text" required [(ngModel)]="hero.heroId" class="form-control" id="id" name="id" (blur)="onBlur()" #id="ngModel">
    <div *ngIf="id.invalid" class="text-danger">
      <div *ngIf="id.errors.required">
        Id is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" required [(ngModel)]="hero.name" class="form-control" id="name" name="name" #name="ngModel">
    <div *ngIf="name.invalid" class="text-danger">
      <div *ngIf="name.errors.required">
        Name is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" [(ngModel)]="hero.description" class="form-control" id="description" name="description">
  </div>
  <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <label for="birthday">Birthday</label>
      <input type="text"
             placeholder="Select Date"
             class="form-control"
             (bsValueChange)="onBirthdayChange()"
             [(ngModel)]="birthday"
             id="birthday" name="birthday"
             autocomplete="off"
             [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
             bsDatepicker>
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <label for="skillId">Skill</label>
      <select [(ngModel)]="hero.skillId" class="form-control" id="skillId" name="skillId">
        <option value=''>Please Select</option>
        <option *ngFor="let item of skills" value="{{item.skillId}}">{{item.name}}</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="heroForm.invalid">Submit</button>
</form>

<h2>{{hero.name}} Details</h2>
<div><span>Hero Id: </span>{{hero.heroId}}</div>
<div><span>Name: </span>{{hero.name}}</div>
<div><span>Description: </span>{{hero.description}}</div>
<div><span>Birthday: </span>{{hero.birthday}}</div>
<div><span>Skill: </span>{{hero.skillId}}</div>
